@font-face {
  font-family: Arcade;
  src: url("coursework/font/digitaldrip.medium.ttf");
}


body{
  margin: 0;
  padding: 0;
  background-image: url("coursework/img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.bg__img {
  width: 700px;
  height: 100px;
  margin-top: 50px;
  margin-left: 90px;
}
.user {
  width: 100px;
  height: 100px;
}
.forgot__link {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: transparent;
  font-weight: 700;
  text-decoration: none;
  transition: .2s;
}

.form-box{
  width: 20rem;
  height: 30rem;
  padding: 4rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: absolute;
  box-shadow: 25px 25px 55px 10px rgba(0,0,0,0.75);
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
  background: rgba(209,110,223,0.46);
  text-align: center;
  transition-duration: 0.3s;
}

.form-box:hover .forgot__link{
  color: white;
}
.form-box:hover .forgot__link:hover{
  color: #c0aeee;
}
.form-box:hover {
  background: rgba(54,24,59,0.75);
}
.form-box:hover h1{
  color: cyan;
}
.form-box:hover input[type = "submit"]{
  border: 2px solid cyan;
  color: white;
}
.form-box h1{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3em;
  font-family: Arcade;
  color: snow;
}
.form-box input[type = "text"],.form-box input[type = "password"]{
  border:0;
  background: white;
  display: block;
  margin: 20px auto;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #6856EB;
  padding: 14px 15px;
  width: 200px;
  outline: none;
  transition: 0.25s;
}
.form-box input[type = "text"]:focus,.form-box input[type = "password"]:focus{
  width: 250px;
  border-color: #B44BD3;
}
.form-box input[type = "submit"]{
  background: rgba(57,20,92,0.56);
  color: white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #B44BD3;
  width: 230px;
  height: 30px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.form-box input[type = "submit"]:hover{
  background: rgba(162,133,238,0.77);
}
@media only screen and (max-height: 600px){
  .form-box{
    height: 500px;
    padding: 40px;
  }
}
@media only screen and (max-width: 1000px){
  .bg__img {
    display: none;
  }
  body{
    background: url("coursework/img/bgp1.jpg");
    background-size: 180%;
    background-repeat: no-repeat;
  }
  .form-box{
    display: grid;
    align-items: center;
    justify-items: center;
    top: 50%;
    left: 50%;
    padding: 10%;
    height: 55rem;
    width: 30rem;
    transform: translate(-50%, -50%);
    background: rgba(209,110,223,0.46);
    max-width: 90%;
    max-height: 90%;
    min-height: 55rem;
  }
  .form-box img{
    width: 200px;
    height: 200px;
  }
  .form-box h1{
    font-size: 4rem;
  }
  .form-box img{
    margin-top: 20%;
  }
  .form-box input[type = "text"],.form-box input[type = "password"]{
    width: 400px;
    font-size: 2.5rem;
    margin: 0 0 2rem 0;
    display: flex;
    align-items: center;
  }
  .form-box input[type = "text"]:focus,.form-box input[type = "password"]:focus{
    width: 450px;
    border-color: #B44BD3;
  }
  .form-box input[type = "submit"]{
    width: 450px;
    margin: 0;
    font-size: 2.5rem;
    height: fit-content;
    padding: 0.5rem;
  }
  .forgot__link {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}


