

.grades-box{
    display: grid;
    border-radius: 2rem 2rem 0 0;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    border: 0.5rem cyan double;
    width: 50%;
    align-self: center;
    justify-self: center;
    background: rgba(52,44,60,0.2);
    padding: 2rem;
}
.subjects{
    background: rgba(0,0,0,0.3);
    width: 100%;
}
.subjects-item{
    display: grid;
    width: 100%;
    border: 1px solid cyan;
    height: 3rem;
    font-size: 1.2rem;
    text-align: left;
    padding: 1rem;
}
.grades{
    display: grid;
    text-align: center;
    background: rgba(0,0,0,0.3);
    width: 100%;
}
.grades-header{
    grid-column: 1/3;
    background: rgba(0,0,0,0.3);
    border-radius: 2rem 2rem 0 0;
}

.content-header{
    padding-bottom: 5rem;
}
.grades-holder{
    grid-column: 1 / 3;
    display: grid;
    width: 300%;
    grid-template-columns: 1fr 1fr 1fr;
}

.content-container-1{
    position: relative;
    display: grid;
    grid-column: 1/3;
    height: fit-content;
    justify-items: center;
    text-align: center;
    color: cyan;
    justify-self: center;
    width: 100%;
    border-radius: 0 0 5rem 5rem;
    overflow: hidden;
}
.next{
    position: absolute;
    justify-self: center;
    padding: 0.3rem;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 7rem;
    color: cyan;
    grid-column: 1 / 3;
    right: 10%;
    top: 35%;
    opacity: 0.8;
}



.content-header-1{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    grid-column: 1/3;
}

.hs h1{
    width: 100%;
    grid-column: 1 / 3;
    background: black;
}
.it1{
    font-family: Gabriola;
    display: grid;
    width: 100%;
    height: 100%;
    border: 3px solid cyan;
    font-size: 2rem;
    background: rgba(0,0,0,0.1);
    align-items: center;
}
.start{
    justify-self: flex-start;
}

.holder1{
    position: relative;
    background: rgba(212,77,241,0.1);
    overflow: hidden;
    display: grid;
    grid-column: 1/3;
    height: fit-content;
    justify-items: center;
    text-align: center;
    color: cyan;
    padding: 5rem;
    justify-self: center;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
}

.center{
    text-align: center;
}

