@font-face {
    font-family: Arcade;
    src: url("font/PixelEmulator-xq08.ttf");
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("img/maxresdefault.jpg");
    background-size: cover;
    display: grid;
    overflow: hidden;
    width: 100%;
    background-repeat: no-repeat;
}
audio{
    display: none;
}

.animation{
    width: 100vw;
    height: 100vh;
    animation:  animate1 21.5s 1, animate 22s 21.5s 1;
    background: rgba(0,26,142,0.49);
}

.bad-end{
    font-family: Arcade;
    color: rgba(0,0,0,0.79);
    font-size: 15rem;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 5;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
}

@keyframes animate1 {
    0%{
        background: transparent;
    }
    100%{
        background: transparent;
    }
}
@keyframes animate {
    0%{
        background: transparent;
    }
    40%{
        background: rgba(127,94,181,0.35);
    }
    41%{
        background: rgba(16,3,181,0.21);
    }
    42%{
        background: rgba(48,181,58,0.35);
    }
    43%{
        background: rgba(181,0,150,0.35);
    }
    44%{
        background: rgba(103,157,181,0.56);
    }
    45%{
        background: rgba(86,211,215,0.41);
    }
    46%{
        background: rgba(11,12,181,0.2);
    }
    47%{
        background: rgba(16,3,181,0.37);
    }
    48%{
        background: rgba(215,0,0,0.2);
    }
    49%{
        background: rgba(175,34,215,0.41);
    }
    50%{
        background: rgba(142,0,133,0.51);
    }
    70%{
        background: rgba(0,0,0,0.4);
    }
    100%{
        background: rgba(0,26,142,0.49);
    }
}

@media only screen and (max-width: 1000px){
    body{
        background-image: url("img/maxresdefault (1).jpg");
    }
}
